syntax: glob
*~
*.pyc
*.pyo
*.a
*.la
*.pc
*.core
*.moc
*.swp
*.out
*.log
*.bak
*.so
*.user
*.o
*.obj
*.orig
*.rej
*.pbxuser
*.mode1
*.mode1v3
*.qch
*.dylib
*_pch.h.cpp
*_resouce.rc
.qmake.cache
*.prl
ui_*.h
*.cproject
*.pydevproject
*.project
*.settings
moc_*
*.rcc
*.uic
*.obj
*.moc
